/* Add some basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    text-align: center;
  }
 input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
  }
  
 
  input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style the buttons on hover */
  input[type="button"]:hover {
    background-color: #0056b3;
  }
  